<div class="form">
  <%= simple_form_for([@space, @booking]) do |f| %>


            <div class="row">
              <div class="col-xs-6">
  <%= f.input :start_datetime, as: :string, input_html: {class: "datepicker"}, placeholder: "Location", label_html: {class: 'hidden'} %>
  </div>
              <div class="col-xs-6">
  <%= f.input :end_datetime, as: :string, input_html: {class: "datepicker"}, placeholder: "Location", label_html: {class: 'hidden'} %>
   </div>
            </div>

          </div>
  <%= f.submit "Book it", class: "btn btn-primary full" %>
  <% end %>
</div>

