<!-- app/views/payments/new.html.erb -->
<h1>Booking summary of space <%= @space.name %></h1>
<p> Location <%= @space.location %></p>
<p> price <%= @space.price %></p>
<%= link_to "Pay", new_space_booking_payment_path(@space, @booking), class: "btn btn-primary btn-lg"%>
