<!-- app/views/payments/new.html.erb -->
<h1>Booking summary of space <%= @space.name %></h1>
<p> Location <%= @space.location %></p>
<p> price <%= @space.price %></p>
<p> status <%= @booking.state %></p>
