

<div class="subnavbar">


  <div class="tabs">
 <!--    <a class="tab active" href="#">
      <p>Painel</p>
    </a>
    <a class="tab" href="#">
      <p>Caixa de entrada</p>
    </a> -->

    <%= link_to "Os seus anúncios", space_dashboards_path, class: "tab active" %>
    <%= link_to "As suas reservas", booking_dashboards_path, class: "tab" %>

   <!-- <a class="tab" href="#">
     <p>Perfil</p>
   </a>
   <a class="tab" href="#">
     <p>Conta</p>
   </a> -->
 </div>

</div>



<!-- Mudar quando os links quando os controllers mudarem -->

<!-- Mudar o layout nos controllers -->
