// Your footer style
/* Footer design */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 142px;
}
.footer {
  background: #4e5254;
  padding: 13px 30px;
  color: #CCCCCC;
}

.footer p {
  margin-top: 17px;
}
.footer ul {
  margin-top: 10px;
}
.footer a {
  color: #CCCCCC;
  font-size: 10px;
  letter-spacing: 5px;
  transition: color 0.5s ease;
  text-decoration: none;
}
.footer a:hover{
  color: #D23333;
}
